CREATE OR REPLACE FUNCTION get_distinct_sources() RETURNS TABLE (source text) LANGUAGE sql AS } SELECT DISTINCT metadata->>'source' as source FROM site_pages WHERE metadata->>'source' IS NOT NULL ORDER BY metadata->>'source'; };
